* {
    box-sizing: border-box;
}
body {
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100%;
}
#container {
    max-width: 960px;
    margin: 0 auto;
    font-family: arial;
}
ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    align-content: space-between;
}
li {
    width: 31%;
    margin-right: 2%;
    list-style: none;
    margin-bottom: 30px;
    background: white;
    border-radius: 3px;
    padding: 10px;
}
p {
    font-size: 15px;
    min-height: 40px;
}
a {
    color: #2793da;
    text-decoration: none;
    cursor:pointer;
}
a:hover {
    color: #333;
    text-decoration: underline;
}
.thumbnail {
    border: 1px solid #fcfcfc;
    padding: 2px;
    width: 100%;
    height: auto;
}
.galbg1 {
   position: absolute;
   background: black;
    left: 50%;
    top: 50%;
    margin: -220px 0 0 -340px;
    padding: 40px
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}
.gallery_close {
    background-image: url(http://www.hdkcreative.com/developer/vue-gallery-example/share_close.png);
    cursor: pointer;
    transition: background-image .5s ease;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
}
.gallery_close:hover {
    background-image: url(http://www.hdkcreative.com/developer/vue-gallery-example/share_close_over.png);
    transition: background-image .5s ease;
}
